{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script> 
<script type="text/javascript" src="{% static "js/jquery.tablesorter.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.tablesorter.pager.js" %}"></script>
<script type="text/javascript" src="{% static "js/power.js" %}"></script>

<script type="text/javascript" >
	var wowhead_tooltips = { "colorlinks": true, "iconizelinks": false, "renamelinks": false }
</script> 

<link rel="stylesheet" href="{% static "css/muhcore.css" %}" type="text/css" media="print, projection, screen" />


<h1>{{ guilda.nome }} @ {{ guilda.reino }} </h1>
<h3>{{ guilda.personagem_guilda.all|length }} membros nível 100 </h3>




<table id="myTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>Spec</th>
    <th>Personagem</th> 
    <th>ilvl</th>
    <th>Main</th>
    <th>Off</th> 
    <th>Head</th>
    <th>Shoulder</th>
    <th>Neck</th>
    <th>Back</th>
    <th>Chest</th>
    <th>Wrist</th>
    <th>Waist</th>
    <th>Hands</th>
    <th>Legs</th>
    <th>Feet</th>
    <th>Ring 1</th>
    <th>Ring 2</th>
    <th>Trink 1</th>
    <th>Trink 2</th>
</tr> 
</thead> 
<tbody> 

{% for membro in lista_membros|dictsortreversed:"ilvl_equipado"  %}
	<tr>
        
        <td><img src="{{membro.icon_spec}}" alt="{{membro.spec}}"height="18" width="18"> </td> 
    	<!--<td> <a href="http://us.battle.net/wow/en/character/{{guilda.reino}}/{{membro.nome}}/advanced" target="_blank"><font color="{{ membro.color }}">{{ membro.nome }}</a></td> -->
        <td> <a href="{% url 'personagem' membro.id %}" target="_blank"><font color="{{ membro.color }}">{{ membro.nome }}</a></td> 

    	<td> {{ membro.ilvl_equipado }}</td>
    	<td><a href="http://www.wowhead.com/item={{membro.main_hand.wowhead_identificador}}"
    		   rel="bonus={{membro.main_hand.get_bonus}}"> {{ membro.main_hand.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.off_hand.wowhead_identificador}}"
    		   rel="bonus={{membro.off_hand.get_bonus}}"> {{ membro.off_hand.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.head.wowhead_identificador}}"
    		   rel="bonus={{membro.head.get_bonus}}"> {{ membro.head.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.shoulder.wowhead_identificador}}"
    		   rel="bonus={{membro.shoulder.get_bonus}}"> {{ membro.shoulder.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.neck.wowhead_identificador}}"
    		   rel="bonus={{membro.neck.get_bonus}}"> {{ membro.neck.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.back.wowhead_identificador}}"
    		   rel="bonus={{membro.back.get_bonus}}"> {{ membro.back.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.chest.wowhead_identificador}}"
    		   rel="bonus={{membro.chest.get_bonus}}"> {{ membro.chest.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.wrist.wowhead_identificador}}"
    		   rel="bonus={{membro.wrist.get_bonus}}"> {{ membro.wrist.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.waist.wowhead_identificador}}"
    		   rel="bonus={{membro.waist.get_bonus}}"> {{ membro.waist.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.hands.wowhead_identificador}}"
    		   rel="bonus={{membro.hands.get_bonus}}"> {{ membro.hands.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.legs.wowhead_identificador}}"
    		   rel="bonus={{membro.legs.get_bonus}}"> {{ membro.legs.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.feet.wowhead_identificador}}"
    		   rel="bonus={{membro.feet.get_bonus}}"> {{ membro.feet.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.finger1.wowhead_identificador}}"
    		   rel="bonus={{membro.finger1.get_bonus}}"> {{ membro.finger1.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.finger2.wowhead_identificador}}"
    		   rel="bonus={{membro.finger2.get_bonus}}"> {{ membro.finger2.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.trinket1.wowhead_identificador}}"
    		   rel="bonus={{membro.trinket1.get_bonus}}"> {{ membro.trinket1.ilvl }}</a></td>
    	<td><a href="http://www.wowhead.com/item={{membro.trinket2.wowhead_identificador}}"
    		   rel="bonus={{membro.trinket2.get_bonus}}"> {{ membro.trinket2.ilvl }}</a></td>

    </tr> 
{% endfor %}

</tbody> 
</table> 

<div class="pagination">
    <span class="step-links">
        {% if lista_membros.has_previous %}
            <a href="?page={{ lista_membros.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ lista_membros.number }} de {{ lista_membros.paginator.num_pages }}
        </span>

        {% if lista_membros.has_next %}
            <a href="?page={{ lista_membros.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript"> 
   $(document).ready(function() 
    { 
        $("#myTable")
        .tablesorter({
            
          textExtraction:function(s){
                if($(s).find('img').length == 0) return $(s).text();
                return $(s).find('img').attr('alt');
          } 
    });

    } 

); 
</script>
